<div class="col-lg-2 hidden-md hidden-sm hidden-xs quicklinx" style="text-align:right !important;"> 
<a href="http://sisu.mec.gov.br/" target="_new"><%=image_tag("img/sisu.jpg",style:"margin-left:25% !important;max-width:100% !important;")%> </a> 
<a href="http://enem.inep.gov.br/" target="_new"> <%=image_tag("img/enem.png",style:"margin-left:25% !important;max-width:100% !important;")%> </a>
<a href="http://siteprouni.mec.gov.br/" target="_new"> <%=image_tag("img/prouni.png",style:"margin-left:25% !important;max-width:100% !important;")%> </a>
<a href="https://www.ufg.br/" target="_new"> <%=image_tag("img/ufg.png",style:"margin-left:25% !important;max-width:100% !important;")%> </a>
<a href="https://www.ifg.edu.br/" target="_new" ><%=image_tag("img/ifgoias.png",style:"margin-left:25% !important;max-width:100% !important;")%></a> 
<a href="https://www.ifgoiano.edu.br/home/" target="_new"><%=image_tag("img/ifgoiano.png",style:"margin-left:25% !important;max-width:100% !important;")%> </a> 
<a href="http://www.ueg.br/" target="_new"> <%=image_tag("img/ueg.png",style:"margin-left:25% !important;max-width:100% !important;")%></a> 
<a href="https://www.unb.br/" target="_new"> <%=image_tag("img/unb.png",style:"margin-left:25% !important;max-width:100% !important;")%> </a>
</div>



</div>
</div>