
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Cadastrar noticia</h3>
  </div>
  <div class="panel-body">
    <%= form_for @news, :html => { multipart: true } do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :texto %><br>
    <%= f.text_area :texto  ,id:"myArea1"  ,style:"width: 90%; height: 300px; border: 1px solid #000;"%>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
   <div class="field">
    <%= f.label :abstract %><br>
    <%= f.text_area :abstract  ,id:"myArea2"  ,style:"width: 90%; height: 300px; border: 1px solid #000;" %>
    
  </div>
   <div class="field">
    <%= f.label :photo %><br>
   <%= f.file_field :photo %>
  </div>
   <div class="field">
    <%= f.label :capa %><br>
  <%= f.file_field :capa %>
  </div>
  


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  </div>
</div>




<script src="../nicEdit.js" type="text/javascript"></script>
<script>
var area1, area2;

function toggleArea1() {
	if(!area1) {
		area1 = new nicEditor({fullPanel : true}).panelInstance('myArea1',{hasPanel : true});
	} else {
		area1.removeInstance('myArea1');
		area1 = null;
	}
}
function toggleArea2() {
	if(!area2) {
		area2 = new nicEditor({fullPanel : true}).panelInstance('myArea2',{hasPanel : true});
	} else {
		area2.removeInstance('myArea2');
		area2 = null;
	}
}





bkLib.onDomLoaded(function() { toggleArea1(); });
bkLib.onDomLoaded(function() { toggleArea2(); });
</script>	
