<p id="notice"><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <%= @egresso.nome %></h3>
  </div>
  <div class="panel-body">
    <p>
  <strong>Nome:</strong>
  <%= @egresso.nome %>
</p>

<p>
  <strong>Faculdade:</strong>
  <%= @egresso.faculdade %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @egresso.curso %>
</p>

<%= link_to 'Editar', edit_egresso_path(@egresso),class:"btn btn-warning" %> |
<%= link_to 'voltar', egressos_path,class:"btn btn-default" %>
  </div>
</div>