 <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
         <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="active">
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> HOME</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                 <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span><%= link_to 'Sliders', sliders_path %></li>
               </ul>
            </li>
            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>O colegio</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span><%= link_to 'Equipe', equipes_path %></li>
                  <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span><%= link_to 'Colaboradores', coladoradores_path %></li>
                  <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span><%= link_to 'Historia', acontecimentos_path %></li>
                  <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span><%= link_to 'Estrutura', estruturas_path %></li>
               </ul>
            </li>
             <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Estudantes</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span><%= link_to 'Projetos', projetos_path %></li>
                  <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span><%= link_to 'Egressos', egressos_path %></li>
                  <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span><%= link_to 'Calendario', calendarios_path %></li>
                   <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span><%= link_to 'Enem', provas_path %></li>
               </ul>
            </li>
            
             <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Postagens</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span><%= link_to 'Galerias de fotos', galeries_path %></a></li>
                  <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span><%= link_to 'Noticias', news_index_path %></li>
               </ul>
            </li>
             <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Professores</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                   <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span><%= link_to 'nucleos de ensino', nucleos_path %></a></li>
              
               </ul>
            </li>
            
         </ul>
      </div>
      
      
     