
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Criar novo arquivo</h3>
  </div>
  <div class="panel-body">
 <%= form_for @arquivo, :html => { multipart: true } do |f| %>
  <% if @arquivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arquivo.errors.count, "error") %> prohibited this arquivo from being saved:</h2>

      <ul>
      <% @arquivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :data_criacao %><br>
    <%= f.date_select :data_criacao %>
  </div>
  <div class="field">
    <%= f.label :data_prioridade %><br>
    <%= f.date_select :data_prioridade %>
  </div>
  
   <div class="field">
    <%= f.label :arquivo %><br>
     <%= f.file_field :arquivo %>
  </div>  
   <div class="field">
    <%= f.label :turma %><br>
    <%= f.select :turma, options_for_select([["maternal", 1], [ "Fase 1 maternal",2], 
    [ "Fase 2 maternal",3], [ "Fase 3 maternal",4], [ "primeiro ano",5], [ "segundo ano",6],
    [ "terceiro ano",7], [ "quarto ano",8], [ "quinto ano",9], [ "sexto ano",10], 
    [ "setimo ano",11], [ "oitavo ano",12], [ "nono ano",13], [ "Primeiro ano medio",14], 
    [ "segundo ano medio",15], [ "terceiro ano medio",16],]) %>
    
   </div>
 
  <%= f.hidden_field :professore_id %>
  <div class="actions">
    <%= f.submit %>
    
<% end %>
  </div>
  </div>
</div>
