

<br>

<%= link_to 'Novo Arquivo', new_arquivo_path,class:"btn btn-primary" %>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lista de arquivos</h3>
  </div>
  <div class="panel-body">
   <p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Data criacao</th>
      <th>Data prioridade</th>
       <th>Turma</th>
      <th>Professor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arquivos.each do |arquivo| %>
      <tr>
        <td><%= arquivo.titulo %></td>
        <td><%= arquivo.descricao.html_safe %></td>
        <td><%= arquivo.data_criacao %></td>
        <td><%= arquivo.data_prioridade %></td>
         <td><%= arquivo.define_turma arquivo.turma %></td>
        <%@nome_prof=@professores.find(arquivo.professore_id.to_i )%>
          
        <td><%= @nome_prof.nome%></td>
        <td><%= link_to 'Mostrar', arquivo,class:"btn btn-primary" %></td>
        <td><%= link_to 'Editar', edit_arquivo_path(arquivo),class:"btn btn-warning" %></td>
        <td><%= link_to 'Apagar', arquivo, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>