
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Dados da mensagem</h3>
  </div>
  <div class="panel-body">
      <h1>Dados do aluno</h1>
<ul class="list-group">
  <li class="list-group-item">serie do aluno: <%= @serie %></li>
  <li class="list-group-item">turma do aluno: <%=@turno %></li>
  <li class="list-group-item">ano do aluno: <%= @ano %></li>
  <li class="list-group-item">nome do aluno: <%=@nome_aluno %></li>
  <li class="list-group-item">Data de nascimento: <%=@data_nascimento_aluno %></li>
  <li class="list-group-item">nacionalidade do aluno: <%=@naturalidade_aluno %></li>
  <li class="list-group-item">Sexo: <%=@sexo_aluno %> </li>
  <li class="list-group-item">CPF: <%=@cpf_aluno %></li>
  <li class="list-group-item">Endereço:  <%=@endereco_aluno %></li>
  <li class="list-group-item">Complemento do endereço:  <%=@complemento_aluno %></li>
  <li class="list-group-item">Bairro: <%=@bairro_aluno %></li>
  <li class="list-group-item">cidade: <%=@cidade_aluno %></li>
  <li class="list-group-item">Cep: <%=@cep_aluno %></li>
  <li class="list-group-item">telefone: <%=@telefone_aluno %></li>
  <li class="list-group-item">Celular: <%=@celular_aluno %></li>
</ul>
   
    
   
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Dados da mensagem</h3>
  </div>
  <div class="panel-body">
      <h1>Dados do pai do aluno</h1>
<ul class="list-group">
  <li class="list-group-item">Nome do pai: <%=@nomepai %></li>
  <li class="list-group-item">rg/cpf pai: <%=@rgpai %></li>
  <li class="list-group-item">endereçodo pai: <%=@endepai %></li>
  <li class="list-group-item">ano do aluno: <%=@bairropai %></li>
  <li class="list-group-item">Telefone:  <%=@terespai %></li>
  <li class="list-group-item">whatsapp:  <%=@wppai %></li>
</ul>
   
    
   
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Dados da mensagem</h3>
  </div>
  <div class="panel-body">
      <h1>Dados da mae</h1>
<ul class="list-group">
  <li class="list-group-item">Nome da mae: <%=@nomemae %></li>
  <li class="list-group-item">rg/cpf da mae:  <%=@rgmae %> </li>
  <li class="list-group-item">endereço da mae:  <%=@endemae %></li>
  <li class="list-group-item">bairro da mae:<%=@bairromae %></li>
  <li class="list-group-item">telefone da mae:  <%=@teresmae %></li>
  <li class="list-group-item">whatsapp:  <%=@wpmae %></li>
</ul>
   
    
   
  </div>
</div>
  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Dados da mensagem via mobile</h3>
  </div>
  <div class="panel-body">
      <h1>Dados do aluno</h1>
<ul class="list-group">
  <li class="list-group-item">serie do aluno: <%= @serie_mobile %></li>
  <li class="list-group-item">turno do aluno: <%=@turno_mobile %></li>
  <li class="list-group-item">ano do aluno: <%= @ano_mobile %></li>
  <li class="list-group-item">nome do aluno: <%=@nome_aluno_mobile %></li>
  <li class="list-group-item">Data de nascimento: <%=@data_nascimento_aluno_mobile %></li>
  <li class="list-group-item">nacionalidade do aluno: <%=@nacionalidade_aluno_mobile %></li>
  
  <li class="list-group-item">naturalidade do aluno: <%=@naturalidade_aluno_mobile %></li>
  <li class="list-group-item">Sexo: <%=@sexo_aluno_mobile %> </li>
  <li class="list-group-item">CPF/RG: <%=@cpf_aluno_mobile %></li>
  <li class="list-group-item">Endereço:  <%=@endereco_aluno_mobile %></li>
  <li class="list-group-item">Complemento do endereço:  <%=@complemento_aluno_mobile %></li>
  <li class="list-group-item">Bairro: <%=@bairro_aluno_mobile %></li>
  <li class="list-group-item">cidade: <%=@cidade_aluno_mobile %></li>
  <li class="list-group-item">Cep: <%=@cep_aluno_mobile %></li>
  <li class="list-group-item">telefone: <%=@telefone_aluno_mobile %></li>
  <li class="list-group-item">Celular: <%=@celular_aluno_mobile %></li>
</ul>
   
    
   
  </div>
</div>
  

  
  