<!DOCTYPE html>
<html>
     <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
     <title>Colégio Anglo</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    
   
   
</head>
<body  id="body">
    <!-- import de bootstrap-->
   <%=render"partials/site/header"%>
    <%=render"partials/site/menu"%>
    <div class="wrapper">


   
        <!-- renderizar html aqui-->
 
                <%= yield %>
          
  
        
        
        
     
        <!-- fim da renderização aqui-->
      </div>
      
     <%=render"partials/site/footer"%>
<!--<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=ra2olsrmcg4ruf8lj9js4orjof8skeb2nj5ck1efcp32jxmf"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    -->

<script>
    (function($) {


    $("#menutoggle").click(function() {
        $("#mainmenu").slideToggle("medium", function() {
            // Animation complete.
        });
    });



    $("#colegiomenu").mouseenter(function() {
        $("#menucolegio").show("medium", function() {
            // Animation complete.
        });

        $("#menuprofessores").hide("medium", function() {
            // Animation complete.
        });

        $("#menualunos").hide("medium", function() {
            // Animation complete.
        });

        $("#menuenem").hide("medium", function() {
            // Animation complete.
        });

        $("#menunoticias").hide("medium", function() {
            // Animation complete.
        });


    });


    $("#professoresmenu").mouseenter(function() {


        $("#menuprofessores").show("medium", function() {
            // Animation complete.
        });

        $("#menualunos").hide("medium", function() {
            // Animation complete.
        });

        $("#menuenem").hide("medium", function() {
            // Animation complete.
        });

        $("#menunoticias").hide("medium", function() {
            // Animation complete.
        });
    });


    $("#alunosmenu").mouseenter(function() {
        $("#menucolegio").hide("medium", function() {
            // Animation complete.
        });

        $("#menuprofessores").hide("medium", function() {
            // Animation complete.
        });

        $("#menualunos").show("medium", function() {
            // Animation complete.
        });

        $("#menuenem").hide("medium", function() {
            // Animation complete.
        });

        $("#menunoticias").hide("medium", function() {
            // Animation complete.
        });
    });


    $("#enemmenu").mouseenter(function() {
        $("#menucolegio").hide("medium", function() {
            // Animation complete.
        });

        $("#menuprofessores").hide("medium", function() {
            // Animation complete.
        });


        $("#menuenem").show("medium", function() {
            // Animation complete.
        });

        $("#menunoticias").hide("medium", function() {
            // Animation complete.
        });
    });



    $(".secleveler").mouseenter(function() {
        $(".third-level").hide("medium", function() {
            // Animation complete.
        });

    });


    $(".topbar").mousemove(function() {
        $(".third-level").hide("medium", function() {
            // Animation complete.
        });
        $(".second-level").hide("medium", function() {
            // Animation complete.
        });

    });




    $("#noticiasmenu").mouseenter(function() {
        $("#menucolegio").hide("medium", function() {
            // Animation complete.
        });

        $("#menuprofessores").hide("medium", function() {
            // Animation complete.
        });

        $("#menualunos").hide("medium", function() {
            // Animation complete.
        });

        $("#menuenem").hide("medium", function() {
            // Animation complete.
        });

        $("#menunoticias").show("medium", function() {
            // Animation complete.
        });
    });


    var timed;

    $(".second-level").mouseleave(function() {
        // alert(JSON.stringify($(this)));
        timed = setTimeout(bang($(this)), 1000);
    });




    $(".third-level").mouseleave(function() {
        // alert(JSON.stringify($(this)));
        timed = setTimeout(bang($(this)), 1000);
    });

    function bang(calee) {
        calee.hide("medium", function() {
            // Animation complete.
        });

    }


    $('.badgeparagraph').circleType({ radius: 600 });

})(jQuery);
</script>
<script>
    /*global jQuery */
/*!
* Lettering.JS 0.7.0
*
* Copyright 2010, Dave Rupert http://daverupert.com
* Released under the WTFPL license
* http://sam.zoy.org/wtfpl/
*
* Thanks to Paul Irish - http://paulirish.com - for the feedback.
*
* Date: Mon Sep 20 17:14:00 2010 -0600
*/
(function($){
	function injector(t, splitter, klass, after) {
		var text = t.text()
		, a = text.split(splitter)
		, inject = '';
		if (a.length) {
			$(a).each(function(i, item) {
				inject += '<span class="'+klass+(i+1)+'" aria-hidden="true">'+item+'</span>'+after;
			});
			t.attr('aria-label',text)
			.empty()
			.append(inject)

		}
	}


	var methods = {
		init : function() {

			return this.each(function() {
				injector($(this), '', 'char', '');
			});

		},

		words : function() {

			return this.each(function() {
				injector($(this), ' ', 'word', ' ');
			});

		},

		lines : function() {

			return this.each(function() {
				var r = "eefec303079ad17405c889e092e105b0";
				// Because it's hard to split a <br/> tag consistently across browsers,
				// (*ahem* IE *ahem*), we replace all <br/> instances with an md5 hash
				// (of the word "split").  If you're trying to use this plugin on that
				// md5 hash string, it will fail because you're being ridiculous.
				injector($(this).children("br").replaceWith(r).end(), r, 'line', '');
			});

		}
	};

	$.fn.lettering = function( method ) {
		// Method calling logic
		if ( method && methods[method] ) {
			return methods[ method ].apply( this, [].slice.call( arguments, 1 ));
		} else if ( method === 'letters' || ! method ) {
			return methods.init.apply( this, [].slice.call( arguments, 0 ) ); // always pass an array
		}
		$.error( 'Method ' +  method + ' does not exist on jQuery.lettering' );
		return this;
	};

})(jQuery);

</script>
<script>
    /*
 * CircleType 0.37
 * Peter Hrynkow
 * Copyright 2014, Licensed GPL & MIT
 *
*/
$.fn.circleType=function(a){var c={dir:1,position:"relative"};return"function"!=typeof $.fn.lettering?void console.log("Lettering.js is required"):this.each(function(){a&&$.extend(c,a);var h,i,b=this,d=180/Math.PI,e=parseInt($(b).css("font-size"),10),f=parseInt($(b).css("line-height"),10)||e,g=b.innerHTML.replace(/^\s+|\s+$/g,"").replace(/\s/g,"&nbsp;");b.innerHTML=g,$(b).lettering(),b.style.position=c.position,h=b.getElementsByTagName("span"),i=Math.floor(h.length/2);var j=function(){var g,j,k,m,n,o,p,q,a=0,i=0;for(g=0;g<h.length;g++)a+=h[g].offsetWidth;for(j=a/Math.PI/2+f,c.fluid&&!c.fitText?c.radius=Math.max(b.offsetWidth/2,j):c.radius||(c.radius=j),k=c.dir===-1?"center "+(-c.radius+f)/e+"em":"center "+c.radius/e+"em",m=c.radius-f,g=0;g<h.length;g++)n=h[g],i+=n.offsetWidth/2/m*d,n.rot=i,i+=n.offsetWidth/2/m*d;for(g=0;g<h.length;g++)n=h[g],o=n.style,p=-i*c.dir/2+n.rot*c.dir,q="rotate("+p+"deg)",o.position="absolute",o.left="50%",o.marginLeft=-(n.offsetWidth/2)/e+"em",o.webkitTransform=q,o.MozTransform=q,o.OTransform=q,o.msTransform=q,o.transform=q,o.webkitTransformOrigin=k,o.MozTransformOrigin=k,o.OTransformOrigin=k,o.msTransformOrigin=k,o.transformOrigin=k,c.dir===-1&&(o.bottom=0);c.fitText&&("function"!=typeof $.fn.fitText?console.log("FitText.js is required when using the fitText option"):($(b).fitText(),$(window).resize(function(){l()}))),l(),"function"==typeof c.callback&&c.callback.apply(b)},k=function(a){var b=document.documentElement,c=a.getBoundingClientRect();return{top:c.top+window.pageYOffset-b.clientTop,left:c.left+window.pageXOffset-b.clientLeft,height:c.height}},l=function(){var d,a=k(h[i]),c=k(h[0]);d=a.top<c.top?c.top-a.top+c.height:a.top-c.top+c.height,b.style.height=d+"px"};c.fluid&&!c.fitText&&$(window).on("resize",function(){j()}),"complete"!==document.readyState?(b.style.visibility="hidden",$(window).on("load",function(){b.style.visibility="visible",j()})):j()})};

</script>
   
</body>
</html>
